<ion-header>
  <ion-toolbar>
    <h2 class='title'><strong>Properties</strong></h2>
    <amplify-sign-out slot='end'></amplify-sign-out>
</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddPropertyForm()" color='success'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id='tools'>
    <div class='buttonbox'>
      <ion-label >Sort By:</ion-label>
        <ion-select  class="hover" placeholder="Filter" (ionChange)="sortProperties($event)">
          <ion-select-option value="status">Status</ion-select-option>
          <ion-select-option value="state">State</ion-select-option>
          <ion-select-option value="type">Type</ion-select-option>
          <ion-select-option value="city">City</ion-select-option>
          <ion-select-option value="numBeds">Bedrooms</ion-select-option>
          <ion-select-option value="numBaths">Bathrooms</ion-select-option>
          <ion-select-option value="propertyFootage">Property Area (ft²)</ion-select-option>
          <ion-select-option value="landFootage">Land Area (ft²)</ion-select-option>
          <ion-select-option value="yearBuilt">Year Built</ion-select-option>
        </ion-select>
      </div>
      <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>
    </div>
    <div class="accordion" id="accordion">
      <div class="accordion-item" *ngFor="let property of properties; index as i">
          <div  class="accordion-button collapsed description" lines='none' type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + property.propertyId">
            <ion-thumbnail [attr.class]="'thumbnail-' + property.propertyId" slot="start"></ion-thumbnail>
            <ion-label>
              <h3>{{property.address.address}}</h3>
              <h3 *ngIf="property.address.city || property.address.state">{{property.address.city}}<span *ngIf="property.address.city && property.address.state">,</span> {{property.address.state}}</h3>
              <p *ngIf="property.address.county || property.address.zipcode">{{property.address.county}} <span *ngIf="property.address.county && property.address.zipcode">|</span> {{property.address.zipcode}}</p>
              <p *ngIf="property.status.propertyStatusDescription || property.essentials.propertyType">{{property.status.propertyStatusDescription}} <span *ngIf="property.status.propertyStatusDescription && property.essentials.propertyType">|</span> {{property.essentials.propertyType}}</p>
            </ion-label>
          </div>
        <div [attr.id]="'collapse-' + property.propertyId" class="accordion-collapse collapse" data-bs-parent="#accordion">
          <div class="accordion-body" id="body-items">
          <ion-list>
            <ion-item>
              <ion-label>{{getPriceTypeByStatus(property)}}</ion-label>
              <ion-text>${{getPriceByStatus(property)}}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Bedrooms:</ion-label>
              <ion-text> {{property.essentials.numBeds}}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Bathrooms:</ion-label>
              <ion-text> {{property.essentials.numBaths}}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Land:</ion-label>
              <ion-text> {{property.essentials.landFootage}}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Property:</ion-label>
              <ion-text> {{property.essentials.propertyFootage}}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Year Built:</ion-label>
              <ion-text> {{property.essentials.yearBuilt}}</ion-text>
            </ion-item>
            <ion-item button class='detailsButton' (click)="openPropertyDetails(i)">View Details</ion-item>
          </ion-list>
          </div>
        </div>
        </div>
      </div>
</ion-content>
