<ion-header>
  <ion-toolbar>
    <ion-title>Properties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="accordion" id="accordion">
    <div class="accordion-item" *ngFor="let property of properties; index as i">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + property.propertyId">
          <ion-thumbnail [attr.class]="'thumbnail-' + property.propertyId" slot="start"></ion-thumbnail>
          <ion-label>
            <h3>{{property.address.address}}</h3>
            <p>{{property.address.county}}</p>
            <p>{{property.status.propertyStatusDescription}} | {{property.essentials.propertyType}}</p>
          </ion-label>
          <ion-label>
            <h3>${{getPriceByStatus(property)}}</h3>
            <p>{{getPriceTypeByStatus(property)}}</p>
          </ion-label>
        </button>
        <ion-button (click)="openPropertyDetails(i)">View Details</ion-button>
      </h2>
      <div [attr.id]="'collapse-' + property.propertyId" class="accordion-collapse collapse show" data-bs-parent="#accordion">
        <div class="accordion-body">
          <p># Beds: {{property.essentials.numBeds}}</p>
          <p># Baths: {{property.essentials.numBaths}}</p>
          <p>Land: {{property.essentials.landFootage}} sq ft</p>
          <p>Property: {{property.essentials.propertyFootage}} sq ft</p>
          <p>Year Built: {{property.essentials.yearBuilt}}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
