#title {
    padding-left: 5%;
}

amplify-sign-out {
    padding: 5%;
}

.accordion-body {
    display: inline-block;
}

.accordion-button collapsed {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}

.description {
    padding-left: 5%;
}
