<ion-header>
  <ion-toolbar>
    <ion-title>Contractor Details</ion-title>
    <i class="fal fa-times-circle" (click)='dismiss()' slot="end"></i>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button (click)='editContractor()'>Edit</ion-button>
    <ion-button (click)='saveContractor()'>Save</ion-button>
    <ion-button color='danger' (click)='delete()'>Delete</ion-button>
  </div>
  <div class="content-container" style='background-color: white'>
    <h3 class="center">{{contractor.contractorUser.firstName}} {{contractor.contractorUser.lastName}}</h3>
    <ion-list>
      <ion-item>
        <ion-label>Email:</ion-label>
      <ion-input type='email' [(ngModel)]='contractor.contractorUser.email' disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Choose Type:</ion-label>
        <ion-select disabled placeholder={{contractor.contractorType.contractorTypeDescription}} (ionChange)='updateType($event)'>
          <ion-select-option value='1'>Research</ion-select-option>
          <ion-select-option value='2'>Bidding</ion-select-option>
          <ion-select-option value='3'>Remodel</ion-select-option>
          <ion-select-option value='4'>Real Estate</ion-select-option>
          <ion-select-option value='5'>Tax</ion-select-option>
        </ion-select>
    </ion-item>
      <ion-item>
        <ion-label>Company:</ion-label>
        <ion-input type='text' [(ngModel)]="contractor.company" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date hired:</ion-label>
        <ion-input [ngModel]="getFormattedDate(contractor.dateHired)" (ngModelChange)="updateDate($event, 'date_hired')" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Start date:</ion-label>
        <ion-input [ngModel]="getFormattedDate(contractor.startDate)" (ngModelChange)="updateDate($event, 'start_date')" readonly></ion-input>
      </ion-item>
      <ion-item lines='none'>
        <ion-label>End date:</ion-label>
        <ion-input [ngModel]="getFormattedDate(contractor.endDate)" (ngModelChange)="updateDate($event, 'end_date')" readonly></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
