<ion-header>
  <ion-toolbar>
    <ion-title>Property Details</ion-title>
    <i class="fal fa-times-circle" (click)='dismiss()' slot="end"></i>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>  
    <img *ngIf="!noThumbnail" height="fit-content" width="80%" src="#" class="thumbnail" />
    <img *ngIf="noThumbnail" height="fit-content" width="80%" src="/assets/placeholder-image.png" class="thumbnail" >
  </ion-item>


  <div class='button-bar' style='background-color: white'>
    <ion-button class='button' (click)='editProperty()'>Edit</ion-button>
    <ion-button class='button' type='submit' (click)='saveProperty(true)'>Save</ion-button>
  </div>

  <ion-list class="row">
    <ion-item>
      <ion-label>Address: </ion-label>
      <ion-input required [(ngModel)]="property.address.address" readonly></ion-input>
    </ion-item>
      <ion-item>
        <ion-label>City: </ion-label>
        <ion-input [(ngModel)]="property.address.city" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>County: </ion-label>
        <ion-input [(ngModel)]="property.address.county" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='fixed' class='state-select'>State:</ion-label>
        <ion-select disabled placeholder={{property.address.state}} (ionChange)="updateState($event)">
          <ion-select-option value="AL">Alabama</ion-select-option>
          <ion-select-option value="AK">Alaska</ion-select-option>
          <ion-select-option value="AZ">Arizona</ion-select-option>
          <ion-select-option value="AR">Arkansas</ion-select-option>
          <ion-select-option value="CA">California</ion-select-option>
          <ion-select-option value="CO">Colorado</ion-select-option>
          <ion-select-option value="CT">Connecticut</ion-select-option>
          <ion-select-option value="DE">Delaware</ion-select-option>
          <ion-select-option value="DC">District Of Columbia</ion-select-option>
          <ion-select-option value="FL">Florida</ion-select-option>
          <ion-select-option value="GA">Georgia</ion-select-option>
          <ion-select-option value="HI">Hawaii</ion-select-option>
          <ion-select-option value="ID">Idaho</ion-select-option>
          <ion-select-option value="IL">Illinois</ion-select-option>
          <ion-select-option value="IN">Indiana</ion-select-option>
          <ion-select-option value="IA">Iowa</ion-select-option>
          <ion-select-option value="KS">Kansas</ion-select-option>
          <ion-select-option value="KY">Kentucky</ion-select-option>
          <ion-select-option value="LA">Louisiana</ion-select-option>
          <ion-select-option value="ME">Maine</ion-select-option>
          <ion-select-option value="MD">Maryland</ion-select-option>
          <ion-select-option value="MA">Massachusetts</ion-select-option>
          <ion-select-option value="MI">Michigan</ion-select-option>
          <ion-select-option value="MN">Minnesota</ion-select-option>
          <ion-select-option value="MS">Mississippi</ion-select-option>
          <ion-select-option value="MO">Missouri</ion-select-option>
          <ion-select-option value="MT">Montana</ion-select-option>
          <ion-select-option value="NE">Nebraska</ion-select-option>
          <ion-select-option value="NV">Nevada</ion-select-option>
          <ion-select-option value="NH">New Hampshire</ion-select-option>
          <ion-select-option value="NJ">New Jersey</ion-select-option>
          <ion-select-option value="NM">New Mexico</ion-select-option>
          <ion-select-option value="NY">New York</ion-select-option>
          <ion-select-option value="NC">North Carolina</ion-select-option>
          <ion-select-option value="ND">North Dakota</ion-select-option>
          <ion-select-option value="OH">Ohio</ion-select-option>
          <ion-select-option value="OK">Oklahoma</ion-select-option>
          <ion-select-option value="OR">Oregon</ion-select-option>
          <ion-select-option value="PA">Pennsylvania</ion-select-option>
          <ion-select-option value="RI">Rhode Island</ion-select-option>
          <ion-select-option value="SC">South Carolina</ion-select-option>
          <ion-select-option value="SD">South Dakota</ion-select-option>
          <ion-select-option value="TN">Tennessee</ion-select-option>
          <ion-select-option value="TX">Texas</ion-select-option>
          <ion-select-option value="UT">Utah</ion-select-option>
          <ion-select-option value="VT">Vermont</ion-select-option>
          <ion-select-option value="VA">Virginia</ion-select-option>
          <ion-select-option value="WA">Washington</ion-select-option>
          <ion-select-option value="WV">West Virginia</ion-select-option>
          <ion-select-option value="WI">Wisconsin</ion-select-option>
          <ion-select-option value="WY">Wyoming</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Zipcode: </ion-label>
        <ion-input [(ngModel)]="property.address.zipcode" readonly></ion-input>
      </ion-item>

    <ion-item>
      <ion-label position='fixed' class='status-select'>Status:</ion-label>
      <ion-select disabled placeholder={{property.status.propertyStatusDescription}} (ionChange)="updateStatus($event)">
        <ion-select-option value="researched">Researched</ion-select-option>
        <ion-select-option value="pending-purchase">Pending Purchase</ion-select-option>
        <ion-select-option value="purchased">Purchased</ion-select-option>
        <ion-select-option value="undergoing-remodeling">Undergoing Remodeling</ion-select-option>
        <ion-select-option value="finished-remodeling">Finished Remodeling</ion-select-option>
        <ion-select-option value="for-sale">For Sale</ion-select-option>
        <ion-select-option value="sold">Sold</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position='fixed' class='status-select'>Type:</ion-label>
      <ion-select disabled placeholder={{property.essentials.propertyType}} (ionChange)="updatePropertyType($event)">
        <ion-select-option value="House">House</ion-select-option>
        <ion-select-option value="Apartment">Apartment</ion-select-option>
        <ion-select-option value="Condo">Condominium</ion-select-option>
        <ion-select-option value="Commercial">Commercial</ion-select-option>
        <ion-select-option value="Recreational">Recreational</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Built: </ion-label>
      <ion-input [(ngModel)]="property.essentials.yearBuilt" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Bedrooms: </ion-label>
      <ion-input [(ngModel)]="property.essentials.numBeds" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Bathrooms: </ion-label>
      <ion-input [(ngModel)]="property.essentials.numBaths" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Land area: </ion-label>
      <ion-input [(ngModel)]="property.essentials.landFootage" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Living area: </ion-label>
      <ion-input [(ngModel)]="property.essentials.propertyFootage" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Buy Date: </ion-label>
      <ion-input placeholder="MM/DD/YYYY" [ngModel]="getFormattedDate(property.dateOfPurchase)" (ngModelChange)="updateDate($event, 'date_of_purchase')" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sell Date: </ion-label>
      <ion-input placeholder="MM/DD/YYYY" [ngModel]="getFormattedDate(property.dateOfSale)" (ngModelChange)="updateDate($event, 'date_of_sale')" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Occupancy Status:</ion-label>
      <ion-select (ionChange)="updateOccupancyStatus($event)">
        <ion-select-option value="unoccupied">Unoccupied</ion-select-option>
        <ion-select-option value="occupied">Occupied</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Subdivision: </ion-label>
      <ion-input [(ngModel)]="property.subdivision" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Trustee: </ion-label>
      <ion-input [(ngModel)]="property.trusteeName" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>County assessment: </ion-label>
      <ion-input [(ngModel)]="property.countyAssessment" readonly></ion-input>
    </ion-item>
    <ion-item details='true' href={{property.essentials.zillowLink}} target='_blank'>
      Zillow Link
      </ion-item>
    <ion-item >
      <ion-label position='top'>Notes: </ion-label>
      <ion-textarea       
      [(ngModel)]="property.notes"
      readonly>
      </ion-textarea>
    </ion-item>
  </ion-list>

  <div class="accordion" id="modal-accordion">
    <div class="accordion-item">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-A">
        <h4>Financials</h4>
      </button>
      <div id="collapse-A" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <ion-item-divider><h3>Price Info</h3></ion-item-divider>
          <ion-item>
            <ion-label>Buy Value: $</ion-label>
            <ion-input [(ngModel)]="property.prices.buyValue" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Expected Value: $</ion-label>
            <ion-input [(ngModel)]="property.prices.expectedValue" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Sell Value: $</ion-label>
            <ion-input [(ngModel)]="property.prices.sellValue" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Bidding Price: $</ion-label>
            <ion-input [(ngModel)]="property.prices.biddingPrice" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Market Price: $</ion-label>
            <ion-input [(ngModel)]="property.prices.marketPrice" readonly></ion-input>
          </ion-item>
          <ion-item-divider><h3>Auction Info</h3></ion-item-divider>
          <ion-item>
            <ion-label>Auction Location: </ion-label>
            <ion-input [(ngModel)]="property.auction.auctionLocation" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Date of Auction: </ion-label>
            <ion-input [(ngModel)]="property.auction.dateOfAuction" readonly></ion-input>
          </ion-item>  
            <ion-item-divider><h3>Loan Info</h3></ion-item-divider>
          <ion-item>
            <ion-label>Loan Amount: </ion-label>
            <ion-input [(ngModel)]="property.loan.amount" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Month Due: </ion-label>
            <ion-input [(ngModel)]="property.loan.month" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Year Due: </ion-label>
            <ion-input [(ngModel)]="property.loan.year" readonly></ion-input>
          </ion-item>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-B">
          <h4>Revenues</h4>
        </button>
      <div id="collapse-B" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <ion-item-divider><h3>List of Revenues</h3></ion-item-divider>
          <ion-item id='noRevenues' *ngIf='noRevenues'>None</ion-item>
          <ion-list *ngFor="let revenue of revenues; index as i">
            <ion-item (click)="openRevenueDetails(i)">
              <ion-label>
                <h3>{{revenue.revenueType}}: <span [ngStyle]="{'color': this.revenues[i].revenueType.toLowerCase() == 'profit' ? 'green' : 'red'}">{{getFormattedRevenueAmount(revenue)}}</span></h3>
                <p>Status: {{getRevenueStatus(revenue)}}</p>
                <p>Description: {{revenue.revenueDescription}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-C" (click)="loadPotentialAssignments()">
          <h4>Assignments</h4>
        </button>
      <div id="collapse-C" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <ion-item-divider><h3>List of Assignments</h3></ion-item-divider>
          <ion-item *ngIf="property.coordinator.userCognitoId">
            Coordinator: {{property.coordinator.firstName}} {{property.coordinator.lastName}}
            <ion-button class="delete-btn delete-btn-contractor button d-none" id="button" slot="end" (click)="deleteCoordinator()">
              <i class="far fa-trash-alt"></i>
            </ion-button>
          </ion-item>
          <ion-list *ngFor="let contractor of contractors">
            <ion-item>
              {{contractor.contractorType.contractorTypeDescription}}: {{contractor.contractorUser.firstName}} {{contractor.contractorUser.lastName}}
              <ion-button class="delete-btn delete-btn-contractor button d-none" slot="end" (click)="deleteContractor(contractor)">
                <i class="far fa-trash-alt"></i>
              </ion-button>
            </ion-item>
          </ion-list>
          <ion-button class="edit-btn-contractors button" (click)="editContractors()">Edit</ion-button>
          <ion-button class="add-btn-contractors button d-none">
            <ion-select class="hover" interface="popover" selected-text="Add Contractor" (ionChange)="addContractor($event)">
              <ion-select-option *ngFor="let contractor of potentialContractors" [value]="contractor">
                {{contractor.contractorUser.firstName}} {{contractor.contractorUser.lastName}} - {{contractor.contractorType.contractorTypeDescription}}
              </ion-select-option>
            </ion-select>
          </ion-button>
          <ion-button class="add-btn-coordinator d-none">
            <ion-select class="hover" interface="popover" selected-text="Add Coordinator" (ionChange)="addCoordinator($event)">
              <ion-select-option *ngFor="let coordinator of potentialCoordinators" [value]="coordinator">
                {{coordinator.firstName}} {{coordinator.lastName}}
              </ion-select-option>
            </ion-select>
          </ion-button>
          <ion-button class="save-btn-contractors button d-none" (click)="saveContractors()">Done</ion-button>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-D">
          <h4>Remodeling Progress Images</h4>
        </button>
      <div id="collapse-D" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <amplify-s3-album 
            framework="ionic"
            path="properties/{{property.propertyId}}/progress_images/"
            (select)="onAlbumImageSelected($event)">
          </amplify-s3-album>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-E" (click)="getFiles('purchase_docs')">
          <h4>Purchase Documents</h4>
        </button>
      <div id="collapse-E" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <input type="file" (change)="selectFileToUpload($event)"/>
          <ion-button class='button' (click)="uploadFile('purchase_docs')">Upload</ion-button>
          <ion-button class="edit-btn-purchase button" (click)="editFiles('purchase_docs')">Edit</ion-button>
          <ion-button class="save-btn-purchase button d-none" (click)="saveFiles('purchase_docs')">Done</ion-button>
          <ion-item-divider>
            <ion-label>Uploaded Files</ion-label>
          </ion-item-divider>
          <ion-list *ngFor="let purchaseDoc of purchaseDocs; index as i">
              <ion-item>            
                <a href={{purchaseDoc}} target="_blank">{{purchaseDocsNames[i]}}</a>
                <ion-button class="delete-btn delete-btn-purchase d-none" slot="end" (click)="deleteFile('purchase_docs', purchaseDocsNames[i])">
                  <i class="far fa-trash-alt"></i>
                </ion-button>
              </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-F" (click)="getFiles('utilities_docs')">
          <h4>Utilities Documents</h4>
        </button>
      <div id="collapse-F" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <input type="file" (change)="selectFileToUpload($event)"/>
          <ion-button (click)="uploadFile('utilities_docs')">Upload</ion-button>
          <ion-button class="button" class="edit-btn-utilities" (click)="editFiles('utilities_docs')">Edit</ion-button>
          <ion-button class="button" class="save-btn-utilities d-none" (click)="saveFiles('utilities_docs')">Done</ion-button>
          <ion-item-divider>
            <ion-label>Uploaded Files</ion-label>
          </ion-item-divider>
          <ion-list *ngFor="let utilitiesDoc of utilitiesDocs; index as i">
              <ion-item>            
                <a href={{utilitiesDoc}} target="_blank">{{utilitiesDocsNames[i]}}</a>
                <ion-button class="delete-btn delete-btn-utilities d-none" slot="end" (click)="deleteFile('utilities_docs', utilitiesDocsNames[i])">
                  <i class="far fa-trash-alt"></i>
                </ion-button>
              </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-G" (click)="getFiles('sales_docs')">
          <h4>Sales Documents</h4>
        </button>
      <div id="collapse-G" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <input type="file" (change)="selectFileToUpload($event)"/>
          <ion-button (click)="uploadFile('sales_docs')">Upload</ion-button>
          <ion-button class="button" class="edit-btn-sales" (click)="editFiles('sales_docs')">Edit</ion-button>
          <ion-button class="button" class="save-btn-sales d-none" (click)="saveFiles('sales_docs')">Done</ion-button>
          <ion-item-divider>
            <ion-label>Uploaded Files</ion-label>
          </ion-item-divider>
          <ion-list *ngFor="let salesDoc of salesDocs; index as i">
              <ion-item>            
                <a href={{salesDoc}} target="_blank">{{salesDocsNames[i]}}</a>
                <ion-button class="delete-btn delete-btn-sales d-none" slot="end" (click)="deleteFile('sales_docs', salesDocsNames[i])">
                  <i class="far fa-trash-alt"></i>
                </ion-button>
              </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>

  <ion-button color="danger" class='button' id="deleteButton" (click)='deleteProperty()'>Delete</ion-button>
</ion-content>
