i {
    margin-right: 3%;
}

ion-select {
    --placeholder-opacity: 1;
}

.col-6 {
    display: inline-block;
}

.delete-btn {
    --background: red;
    width: 50px;
    font-size: 1em;
    text-align: center;
}

.expense {
    color: red;
}

.profit {
    color: green;
}