i {
    margin-right: 3%;
}

ion-select {
    --placeholder-opacity: 1;
}


.delete-btn {
    --background: red;
    width: 50px;
    font-size: 1em;
    text-align: center;
}

ion-item img{
    display: block;
    margin: auto;
}

ion-item-divider{
    --background: #3880ff;
    --color: white;
    --text-align: center;
}

ion-list-header{
    --background: #3880ff;
    --color: white;
    --text-align: center;
    margin-top: 0.3em;
}