<ion-header>
  <ion-toolbar>
    <ion-title>Property Details</ion-title>
    <ion-icon name="close-outline" slot="end" button (click)='dismiss()'>Close</ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="#" class="thumbnail"/>
  
  <h3>{{property.address.address}} {{property.address.city}}, {{property.address.state}} {{property.address.zipcode}}</h3>
  <p>{{property.address.county}}</p>
  <p>{{property.status.propertyStatusDescription}}</p>

  <ion-list class="row">
    <div class="col-6">
      <ion-item>Property type: {{property.propertyType}}</ion-item>
      <ion-item># Beds: {{property.essentials.numBeds}}</ion-item>
      <ion-item>Land area: {{property.landFootage}}</ion-item>
      <ion-item>Date of purchase: {{property.dateOfPurchase}}</ion-item>
      <ion-item>Occupancy status: {{property.occupancyStatus.description}}</ion-item>
      <ion-item>Trustee name: {{property.trusteeName}}</ion-item>
    </div>

    <div class="col-6">
      <ion-item>Year built: {{property.essentials.yearBuilt}}</ion-item>
      <ion-item># Baths: {{property.essentials.numBaths}}</ion-item>
      <ion-item>Living area: {{property.propertyFootage}}</ion-item>
      <ion-item>Date of sale: {{property.dateOfSale}}</ion-item>
      <ion-item>Subdivision: {{property.subdivision}}</ion-item>
      <ion-item>County assessment: {{property.countyAssessment}}</ion-item>
    </div>

    <ion-item>Zillow link: {{property.essentials.zillowLink}}</ion-item>
    <ion-item>Notes: {{property.notes}}</ion-item>
  </ion-list>

  <div class="accordion" id="modal-accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-A">
          Financials
        </button>
      </h2>
      <div id="collapse-A" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-B">
          Revenues
        </button>
      </h2>
      <div id="collapse-B" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          Body
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-C">
          Contractors
        </button>
      </h2>
      <div id="collapse-C" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-D" (click)="loadProgressImages()">
          Remodeling Progress Images
        </button>
      </h2>
      <div id="collapse-D" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <div id="progressImageCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="false">
            <div class="carousel-indicators">
              <button type="button" *ngFor="let progressImage of progressImages; index as i" [attr.class]="'progress-image-' + i" data-bs-target="#progressImageCarousel" data-bs-slide-to="i"></button>
            </div>
            <div class="carousel-inner">
              <div *ngFor="let progressImage of progressImages; index as i" [attr.class]="'carousel-item progress-image-' + i">
                <img src={{progressImage}} class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#progressImageCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#progressImageCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-E">
          Purchase Documents
        </button>
      </h2>
      <div id="collapse-E" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          stuff
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-F">
          Utilities Documents
        </button>
      </h2>
      <div id="collapse-F" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-G">
          Sales Documents
        </button>
      </h2>
      <div id="collapse-G" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-H">
          Nearby Properties
        </button>
      </h2>
      <div id="collapse-H" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>

  <ion-button>Select for Purchase</ion-button>
  <ion-button>Delete</ion-button>
</ion-content>
