i {
    margin-right: 3%;
}

ion-select {
    --placeholder-opacity: 1;
}


.delete-btn {
    --background: red;
    width: 50px;
    font-size: 1em;
    text-align: center;
}

ion-item img{
    display: block;
    margin: auto;
}


ion-item-divider{
    --background: #46addd;
    --color: white;
    text-align: center;
}

amplify-s3-album{
    display: flex;
    justify-content: center;
    margin: auto;
}

ion-label{
    width: max-content;
}

.accordion-item {
    border-top: 1 !important;
    }

.accordion{
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
#noRevenues{
    text-align: center;
}    

button{
    height: 3em;
}
h4{
    color: #3174e7;
}

#button{
    align-items: flex-end;
}