<ion-header>
  <ion-toolbar>
    <ion-title>Property Details</ion-title>
    <i class="fal fa-times-circle" (click)='dismiss()' slot="end"></i>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="#" class="thumbnail"/>
  
  <ion-button (click)='editProperty()'>Edit</ion-button>
  <ion-button (click)='saveProperty()'>Save</ion-button>

  <ion-list class="row">
    <ion-item>
      <ion-label>Address: </ion-label>
      <ion-input [(ngModel)]="property.address.address" readonly></ion-input>
    </ion-item>

    <div class="col-6">
      <ion-item>
        <ion-label>City: </ion-label>
        <ion-input [(ngModel)]="property.address.city" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>County: </ion-label>
        <ion-input [(ngModel)]="property.address.county" readonly></ion-input>
      </ion-item>
    </div>

    <div class="col-6">
      <ion-item>
        <ion-label>State: </ion-label>
        <ion-input [(ngModel)]="property.address.state" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Zipcode: </ion-label>
        <ion-input [(ngModel)]="property.address.zipcode" readonly></ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-label position='fixed' class='status-select'>Status:</ion-label>
      <ion-select placeholder={{property.status.propertyStatusDescription}} (ionChange)="updateStatus($event)">
        <ion-select-option value="researched">Researched</ion-select-option>
        <ion-select-option value="pending-purchase">Pending Purchase</ion-select-option>
        <ion-select-option value="purchased">Purchased</ion-select-option>
        <ion-select-option value="undergoing-remodeling">Undergoing Remodeling</ion-select-option>
        <ion-select-option value="finished-remodeling">Finished Remodeling</ion-select-option>
        <ion-select-option value="for-sale">For Sale</ion-select-option>
        <ion-select-option value="sold">Sold</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="col-6">
      <ion-item>
        <ion-label>Property type: </ion-label>
        <ion-input [(ngModel)]="property.propertyType" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label># Beds: </ion-label>
        <ion-input [(ngModel)]="property.essentials.numBeds" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Land area: </ion-label>
        <ion-input [(ngModel)]="property.essentials.landFootage" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date of purchase: </ion-label>
        <ion-input [(ngModel)]="property.dateOfPurchase" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Occupancy status: </ion-label>
        <ion-input [(ngModel)]="property.occupancyStatus.description" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Trustee name: </ion-label>
        <ion-input [(ngModel)]="property.trusteeName" readonly></ion-input>
      </ion-item>
    </div>

    <div class="col-6">
      <ion-item>
        <ion-label>Year built: </ion-label>
        <ion-input [(ngModel)]="property.essentials.yearBuilt" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label># Baths: </ion-label>
        <ion-input [(ngModel)]="property.essentials.numBaths" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Living area: </ion-label>
        <ion-input [(ngModel)]="property.essentials.propertyFootage" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date of sale: </ion-label>
        <ion-input [(ngModel)]="property.dateOfSale" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Subdivision: </ion-label>
        <ion-input [(ngModel)]="property.subdivision" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>County assessment: </ion-label>
        <ion-input [(ngModel)]="property.countyAssessment" readonly></ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-label>Zillow link: </ion-label>
      <ion-input [(ngModel)]="property.essentials.zillowLink" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Notes: </ion-label>
      <ion-textarea
      [(ngModel)]="property.notes"
      readonly>
      </ion-textarea>
    </ion-item>
  </ion-list>

  <div class="accordion" id="modal-accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-A">
          Financials
        </button>
      </h2>
      <div id="collapse-A" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <h3>Price Info</h3>
          <ion-item>
            <ion-label>Buy Value: $</ion-label>
            <ion-input [(ngModel)]="property.prices.buyValue" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Expected Value: $</ion-label>
            <ion-input [(ngModel)]="property.prices.expectedValue" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Sell Value: $</ion-label>
            <ion-input [(ngModel)]="property.prices.sellValue" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Bidding Price: $</ion-label>
            <ion-input [(ngModel)]="property.prices.biddingPrice" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Market Price: $</ion-label>
            <ion-input [(ngModel)]="property.prices.marketPrice" readonly></ion-input>
          </ion-item>
          <h3>Auction Info</h3>
          <ion-item>
            <ion-label>Auction Location: </ion-label>
            <ion-input [(ngModel)]="property.auction.auctionLocation" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Date of Auction: </ion-label>
            <ion-input [(ngModel)]="property.auction.dateOfAuction" readonly></ion-input>
          </ion-item>       
          <h3>Loan Info</h3>
          <ion-item>
            <ion-label>Loan Amount: </ion-label>
            <ion-input [(ngModel)]="property.loan.amount" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Month Due: </ion-label>
            <ion-input [(ngModel)]="property.loan.month" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Year Due: </ion-label>
            <ion-input [(ngModel)]="property.loan.year" readonly></ion-input>
          </ion-item>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-B">
          Revenues
        </button>
      </h2>
      <div id="collapse-B" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          Body
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-C">
          Contractors
        </button>
      </h2>
      <div id="collapse-C" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-D">
          Remodeling Progress Images
        </button>
      </h2>
      <div id="collapse-D" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <amplify-s3-album 
            framework="ionic"
            path="properties/{{property.propertyId}}/progress_images/" 
            (click)="onAlbumImageSelected($event)">
          </amplify-s3-album>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-E" (click)="getFiles('purchase_docs')">
          Purchase Documents
        </button>
      </h2>
      <div id="collapse-E" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <ion-input type="file" (change)="selectFileToUpload($event)"></ion-input>
          <ion-button (click)="uploadFile('purchase_docs')">Upload</ion-button>
          <ion-button class="edit-btn-purchase" (click)="editFiles('purchase')">Edit</ion-button>
          <ion-button class="save-btn-purchase d-none" (click)="saveFiles('purchase')">Save</ion-button>
          <ion-list>
            <div *ngFor="let purchaseDoc of purchaseDocs; index as i">
              <ion-item>            
                <a href={{purchaseDoc}} target="_blank">{{purchaseDocsNames[i]}}</a>
                <ion-button class="delete-btn delete-btn-purchase d-none" slot="end" (click)="deleteFile('purchase_docs', purchaseDocsNames[i])">
                  <i class="far fa-trash-alt"></i>
                </ion-button>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-F" (click)="getFiles('utilities_docs')">
          Utilities Documents
        </button>
      </h2>
      <div id="collapse-F" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <ion-input type="file" (change)="selectFileToUpload($event)"></ion-input>
          <ion-button (click)="uploadFile('utilities_docs')">Upload</ion-button>
          <ion-button class="edit-btn-utilities" (click)="editFiles('utilities')">Edit</ion-button>
          <ion-button class="save-btn-utilities d-none" (click)="saveFiles('utilities')">Save</ion-button>
          <ion-list>
            <div *ngFor="let utilitiesDoc of utilitiesDocs; index as i">
              <ion-item>            
                <a href={{utilitiesDoc}} target="_blank">{{utilitiesDocsNames[i]}}</a>
                <ion-button class="delete-btn delete-btn-utilities d-none" slot="end" (click)="deleteFile('utilities_docs', utilitiesDocsNames[i])">
                  <i class="far fa-trash-alt"></i>
                </ion-button>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-G" (click)="getFiles('sales_docs')">
          Sales Documents
        </button>
      </h2>
      <div id="collapse-G" class="accordion-collapse collapse" data-bs-parent="#modal-accordion">
        <div class="accordion-body">
          <ion-input type="file" (change)="selectFileToUpload($event)"></ion-input>
          <ion-button (click)="uploadFile('sales_docs')">Upload</ion-button>
          <ion-button class="edit-btn-sales" (click)="editFiles('sales')">Edit</ion-button>
          <ion-button class="save-btn-sales d-none" (click)="saveFiles('sales')">Save</ion-button>
          <ion-list>
            <div *ngFor="let salesDoc of salesDocs; index as i">
              <ion-item>            
                <a href={{salesDoc}} target="_blank">{{salesDocsNames[i]}}</a>
                <ion-button class="delete-btn delete-btn-sales d-none" slot="end" (click)="deleteFile('sales_docs', salesDocsNames[i])">
                  <i class="far fa-trash-alt"></i>
                </ion-button>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </div>
    </div>
  </div>

  <ion-button (click)='getStatus()'>Change Property Status</ion-button>
  <ion-button (click)='deleteProperty()'>Delete</ion-button>
</ion-content>
