<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="properties">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Properties</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="revenues">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Revenues</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contractors">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Contractors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="taxes">
      <ion-icon name="document-lock-outline"></ion-icon>
      <ion-label>Taxes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
