ion-tab-bar{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    --ion-tab-bar-background: black;
    --ion-tab-bar-color: white;
    --ion-tab-bar-color-selected: #46b0e0;
}

ion-label{
    font-size: 1.2em;
}
