<ion-header>
  <ion-toolbar>
    <h2 id='title'><strong>Contractors</strong></h2>
    <amplify-sign-out id='signout' slot='end'></amplify-sign-out>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let contractor of contractors; index as i">
    <ion-item button (click)="openContractorDetails(i)">
      <ion-label>
        <h3>{{contractor.contractorUser.firstName}} {{contractor.contractorUser.lastName}}</h3>
        <p>Email: {{contractor.contractorUser.email}}</p>
        <p>Type: {{contractor.contractorType.contractorTypeDescription}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
