<ion-header>
  <ion-toolbar>
    <h2 id='title'><strong>Taxes</strong></h2>
    <amplify-sign-out slot='end'></amplify-sign-out>
</ion-toolbar>
<div id='tools'>  
  <div class='buttonbox'>    
    <ion-label >Sort By:</ion-label>
    <ion-select class="hover" placeholder="..." (ionChange)="sortProperties($event)">
      <ion-select-option value="type">Type</ion-select-option>
      <ion-select-option value="connection">Connection</ion-select-option>
      <ion-select-option value="amount">Amount</ion-select-option>
      <ion-select-option value="amountPaid">Amount Paid</ion-select-option>
     </ion-select>
    </div>   
    <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>
  </div>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item button (click)="openTaxDetails(i)" details='true' *ngFor="let tax of taxes; index as i">
      <ion-label>
        <h3>{{tax.user.firstName}} {{tax.user.lastName}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

