<ion-header>
  <ion-toolbar>
    <h2 id='title'><strong>Admin</strong></h2>
    <amplify-sign-out slot='end'></amplify-sign-out>
  </ion-toolbar>
  <div id='tools'>
    <div class='buttonbox'>
      <ion-label >Sort By:</ion-label>
        <ion-select  class="hover" placeholder="Filter" (ionChange)="sortUsers($event)">
          <ion-select-option value="firstName">First Name</ion-select-option>
          <ion-select-option value="lastName">Last Name</ion-select-option>
          <ion-select-option value="email">Email</ion-select-option>
          <ion-select-option value="role">Role</ion-select-option>
        </ion-select>
      </div>
      <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>
    </div>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddUserForm()" color='success'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <ion-list >
      <ion-item button (click)="openUserDetails(i)" details='true' *ngFor="let user of users; index as i">
        <ion-label>
          <h3>{{user.firstName}} {{user.lastName}}</h3>
          <p>{{user.email}}</p>
        </ion-label>
        <ion-icon name={{getSymbol(user.role.userRoleDescription)}}></ion-icon>
        <ion-label slot="end">
          <h3>{{user.role.userRoleDescription}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
