i {
    margin-right: 3%;
}

.delete-btn {
    --background: red;
    width: 50px;
    font-size: 1em;
    text-align: center;
}

ion-item-divider {
    --text-align: center;
    margin-top: 3em;

}

.content-container {
    padding: 15px;
}

input{
    margin-top: 0.5em;
}
