i {
    margin-right: 3%;
}

.delete-btn {
    --background: red;
    width: 50px;
    font-size: 1em;
    text-align: center;
}

ion-list-header {
    --background: #3880ff;
    --color: white;
    --text-align: center;
    margin-top: 0.3em;
}